/* Container for the recipes */

@import "tailwindcss";



.recipe-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px; /* Space between cards */
  max-width: 1300px; /* Max width of the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Padding around the container */
}

/* Recipe card styling */
.recipe-card {
  background: #fff;
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Image styling */
.recipe-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Content styling */
.recipe-content {
  padding: 15px;
}

/* Title styling */
.recipe-title a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}


/* Login and Register Form Styles */
.login-page,
.register-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-page h2,
.register-page h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.login-page form,
.register-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-page input,
.register-page input {
  padding: 10px;
  border: 1px solid #e4e4e7;
  border-radius: 4px;
  font-size: 16px;
}

.login-page input:focus,
.register-page input:focus {
  outline: none;
  border-color: #554343;
}

.login-page button,
.register-page button {
  padding: 10px;
  background-color: #554343;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-page button:hover,
.register-page button:hover {
  background-color: #554343;
}

.login-page p,
.register-page p {
  color: #554343;
  margin: 0;
  text-align: center;
}

.login-page a,
.register-page a {
  color: #554343;
  text-decoration: none;
  font-weight: bold;
}

.login-page a:hover,
.register-page a:hover {
  text-decoration: underline;
}

.recipe-card {
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
}